@import "tailwindcss";

@font-face {
  font-family: DynaPuff;
  src: url("./../src/assets/fonts/DynaPuff-Regular.ttf");
}

@font-face {
  font-family: GoogleSan;
  src: url("./assets/fonts/GoogleSansCode-Regular.ttf");
}

@font-face {
  font-family: meowscript;
  src: url("./assets/fonts/MeowScript-Regular.ttf");
}

@font-face {
  font-family: borel;
  src: url("./assets/fonts/Borel-Regular.ttf");
}

@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

html,
body {
  scroll-behavior: auto;
  overscroll-behavior: none;
}

body {
  font-family: DynaPuff;
}

.homeBackgroundImage {
  background: url("../src/assets/homePageBackground.png");
  background-color: #0099ff;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-clip: border-box;
}

.aboutBackgroundImage {
  background: url("../src/assets/blue-texture3.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-clip: border-box;
}
